.button {
  all: unset;
  cursor: pointer;
}

.primary {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  background-color: var(--color-accent-500);
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    border: 2px solid var(--info-700, #2f68cc);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-light-900, #c3c1c7);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  background-color: var(--color-dark-300);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    background: var(--dark-300, #4c4c4c);
    border: 2px solid var(--info-700, #2f68cc);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900, #c3c1c7);
    background-color: var(--color-dark-300);
  }
}

.tertiary {
  display: inline-flex;
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 8px 28px;

  color: var(--color-accent-500);

  border: 1px solid var(--primary-500, #8c61ff);
  border-radius: 4px;

  &:hover {
    background: var(--dark-500, #333);
    border: 1px solid var(--primary-700, #704ecc);
  }

  &:focus {
    border: 2px solid var(--info-700, #2f68cc);
  }

  &:active {
    background: var(--primary-900, #382766);
    border: 1px solid var(--primary-700, #704ecc);
  }

  &:disabled {
    color: var(--primary-900, #382766);
    border: 1px solid var(--primary-900, #382766);
  }
}

.link {
  display: inline-flex;
  gap: 10px;
  align-items: flex-start;

  padding: 6px 12px;

  color: var(--color-accent-500);

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    border: 2px solid var(--info-700, #2f68cc);
    border-radius: 130px;
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--primary-900, #382766);
  }
}

.fullWidth {
  width: 100%;
}
