.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;

  background: var(--dark-700, #171717);

  img {
    width: 156px;
    margin-left: 137px;
  }

  button {
    margin-right: 137px;
  }
}

.profile {
  margin-right: 137px;
}
