.div {
  all: unset;
}

.primary {
  padding: 6px 24px;
  border: 1px solid var(--dark-300, #4c4c4c);
  border-radius: 2px 0 0 2px;

  &:hover {
    background: var(--dark-300, #4c4c4c);
    border: 1px solid var(--dark-100, #808080);
  }

  &:focus {
    background: var(--dark-700, #171717);
    border: 2px solid var(--info-900, #234e99);
  }

  &:active {
    background: var(--primary-500, #8c61ff);
    border: 1px solid var(--primary-500, #8c61ff);
  }

  &:disabled {
    color: var(--dark-300, #4c4c4c);
    background: var(--dark-700, #171717);
    border: 1px solid var(--dark-300, #4c4c4c);
  }
}

.secondary {
  // @extend %primary;

  padding: 6px 24px;
  border: 1px solid var(--dark-300, #4c4c4c);
  border-radius: 0;

  &:hover {
    background: var(--dark-300, #4c4c4c);
    border: 1px solid var(--dark-100, #808080);
  }

  &:focus {
    background: var(--dark-700, #171717);
    border: 2px solid var(--info-900, #234e99);
  }

  &:active {
    background: var(--primary-500, #8c61ff);
    border: 1px solid var(--primary-500, #8c61ff);
  }

  &:disabled {
    color: var(--dark-300, #4c4c4c);
    background: var(--dark-700, #171717);
    border: 1px solid var(--dark-300, #4c4c4c);
  }
}

.tertiary {
  padding: 6px 24px;
  border: 1px solid var(--dark-300, #4c4c4c);
  border-radius: 0 2px 2px 0;

  &:hover {
    background: var(--dark-300, #4c4c4c);
    border: 1px solid var(--dark-100, #808080);
  }

  &:focus {
    background: var(--dark-700, #171717);
    border: 2px solid var(--info-900, #234e99);
  }

  &:active {
    background: var(--primary-500, #8c61ff);
    border: 1px solid var(--primary-500, #8c61ff);
  }

  &:disabled {
    color: var(--dark-300, #4c4c4c);
    background: var(--dark-700, #171717);
    border: 1px solid var(--dark-300, #4c4c4c);
  }
}
